.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  animation: animation 0.3s linear;
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
}

.list li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 7px 15px;
  border-radius: 5px;

  gap: 5px;
  animation: animation 0.3s linear;
  transition: transform 0.3s ease;
  -webkit-box-shadow: 0px 6px 26px 8px rgba(25, 26, 26, 0.23);
  -moz-box-shadow: 0px 6px 26px 8px rgba(25, 26, 26, 0.23);
  box-shadow: 0px 6px 26px 8px rgba(25, 26, 26, 0.23);
}

.checkbox-wrapper-39:hover {
  transform: scale(1.1);
}

@keyframes animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.list li.disappear {
  animation: disappear 0.3s linear forwards;
}

.list li label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  cursor: pointer;
}

.list li label .text {
  max-width: 600px;
  word-wrap: break-word;
  width: 100%;
  padding: 5px;
}

.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  width: 120px;
  gap: 7px;
  font-size: 14px;
  letter-spacing: 3px;
  margin: 0;
  background: #ac0000;
  color: #fff;

  -webkit-box-shadow: 0px 6px 26px 8px rgba(25, 26, 26, 0.23);
  -moz-box-shadow: 0px 6px 26px 8px rgba(25, 26, 26, 0.23);
  box-shadow: 0px 6px 26px 8px rgba(25, 26, 26, 0.23);
}

.cart {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: fill 0.5s ease, transform 0.1s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.btn-danger:hover > .cart {
  fill: #ac0000;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
  transform: rotate(45deg);
  border-color: #24c78e;
  margin-bottom: 8px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper-39 .checkbox {
  margin-top: 4px;
  width: 15px;
  height: 15px;
  border: 1px solid #434343;
  border-radius: 6px;
  transition: all 0.375s;
}

@media (max-width: 680px) {
  .checkbox-wrapper-39:hover {
    transform: none;
  }
}

@media (max-width: 540px) {
  .list li {
    flex-direction: column;
  }

  #root {
    align-items: flex-end;
  }

  .list li label {
    gap: 5px;
    line-height: 1;
  }

  .checkbox-wrapper-39 .checkbox {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
  }

  .btn {
    width: 100%;
  }

  .btn-danger:hover > .cart {
    fill: #fff;
  }

  .btn:hover {
    background: #000;
  }

  .btn-danger:hover {
    background: #ac0000;
  }

  .btn-danger:hover > .cart {
    animation: none;
  }
}
